# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


#Directories and Eclipse Stuff
.settings
Debug
.cproject
.project
KIT13ce_working.dbc